.App {
  min-height: 100vh;
  max-width: 1200px;
  padding: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin: 0 auto;
}

.App input[type="text"] {
  width: 100%;
}

.App .categories span.categories__item {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 100rem;
  background-image: linear-gradient(to right, #fc5a1ae7, 67%, #f7b733);
}
